.board button{
	width: 100px;
	height: 100px;
	background-color: gray;
	margin: 1px;
	border: 4px solid black;
	border-radius: 50%;
}

.navbar, .footer{
	height: 80px;
	background-color: magenta;
	align-self: center;
}

.footer{
	height: 80px;
	background-color: magenta;
	align-self: center;
	margin-top: 30px;
}

#nameOfGame, p{
	align-self: center;
	font-size: 50px;
	color: white;
}

body{
	background-color: pink;
}
#gamepage{
	display: none;
}

#start>button{
	margin:200px 0px;
	font-size: 32px;
	padding: 10px 20px;
	background-color: green;
	color: white;
	border: 1px solid blue;
	border-radius: 30px;
}
.footer{
	width: 100%;
	position: fixed;
	bottom:0;
}