.board button{
	width: 100px;
	height: 100px;
	background-color: gray;
	margin: 1px;
	border: 4px solid black;
	border-radius: 50%;
}

.navbar, .footer{
	height: 80px;
	background-color: magenta;
	align-self: center;
}

.footer{
	height: 80px;
	background-color: magenta;
	align-self: center;
	margin-top: 30px;
}

#nameOfGame, p{
	align-self: center;
	font-size: 50px;
	color: white;
}

body{
	background-color: pink;
}

/* landing page styling */
.landingFooter{
	width: 100%;
	position: fixed;
	background-color: magenta;
	bottom: 0px;
}
#start{
	width: 100%;

	position: fixed;
	top:45%;
}
#start>a{
	border: .5px solid blue;
	color: white;
	border-radius: 30px;
	padding: 10px 20px;
	background-color: rgb(53, 145, 1);
	text-decoration: none;
	font-size: 32px;
}
